{% extends "base.html" %}
{% block content %}
<h1>Books</h1>
<a href="{% url 'book-add' %}" class="btn btn-primary">Add Book</a>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.year_published }}</td>
            <td>
                <a href="{% url 'book-detail' book.pk %}">View</a> |
                <a href="{% url 'book-edit' book.pk %}">Edit</a> |
                <a href="{% url 'book-delete' book.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
