{% extends "voter_analytics/base_voter_analytics.html" %}

{% block content %}
<h1>Voter Data Graphs</h1>

<form method="get">
    {{ filter_form.as_p }}
    <button type="submit">Filter</button>
</form>

<h2>Voter distribution by Year of Birth</h2>
<div>{{ birth_year_graph|safe }}</div>

<h2>Voter distribution by Party Affiliation</h2>
<div>{{ party_affiliation_graph|safe }}</div>

<h2>Vote Count by Election</h2>
<div>{{ election_participation_graph|safe }}</div>

<p><a href="{% url 'voters' %}">Back to Voter List</a></p>
{% endblock %}
