{% extends 'base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    
    <!-- Display profiles if they exist -->
    {% if profiles.exists %}
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>City</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through each profile and display the data -->
                {% for profile in profiles %}
                <tr>
                    <td>
                        <a href="{% url 'view_profile' profile.pk %}">{{ profile.first_name }}</a>
                    </td>
                    <td>{{ profile.last_name }}</td>
                    <td>{{ profile.city }}</td>
                    <td>
                        <a href="{% url 'view_profile' profile.pk %}">
                            {% if profile.profile_image_url %}
                                <img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}'s profile image" width="100">
                            {% else %}
                                <p>No Image</p>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No profiles available at the moment.</p>
    {% endif %}
{% endblock %}
